<!DOCTYPE html>
<html>
    <head>
        <title>formulario</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="toasts.css">
        <script src="toasts.js" defer></script>
    </head>
    <body data-theme="light">
        <!-- Toast Confirma -->
        <div class="toast_modelo" id="toast_confirma">
            <i class="bi bi-check-circle-fill icone_alerta"></i>
            <div class="texto_alerta">
                <h4>Ação feita com sucesso.</h4>
                <p>Seu item foi salvo com sucesso!</p>
            </div>
        </div>
        <!-- Toast Erro -->
        <div class="toast_modelo" id="toast_erro">
            <i class="bi bi-x-circle-fill icone_alerta"></i>
            <div class="texto_alerta">
                <h4>Ocorreu um erro na ação.</h4>
                <p>texto pra depois</p>
            </div>
        </div>
    </body>
</html>